<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>list.html</title>
	<meta name="author" content="正木良宗" />
	<!-- Date: 2014-12-22 -->
</head>
<body>
  <table border="1">
    <tr>
  	  <th>ISBNコード</th>
  	  <th>書名</th>
  	  <th>価格</th>
  	  <th>出版社</th>
  	  <th>刊行日</th>
  	  <th>CD-ROM</th>
    </tr>
<% @books.each do |book| %>
  <tr>
    <td><%= book.isbn %></td>
    <td><%= book.title %></td>
    <td><%= book.price %></td>
    <td><%= book.publish %></td>
    <td><%= book.published %></td>
    <td><%= book.cd %></td>
  </tr>
<% end %>
  </table>
</body>
</html>

